.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.6vh;  
}

.login form {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  align-items: center;
}

input#password {
  margin-bottom: 20px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

input#email {
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

form input {
    font-family: 'Source Sans Pro', sans-serif;
}

form .button,
form .button:visited
 {
  font-size: 35px;
  border-radius: 2em;
  background-color: rgb(214,64,86);
  color: #fff;
}

form .button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}
form .button:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}

form .button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s;
}

form .button::after {
  background-color: #fff;
}

form .button::after  {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.form-header {
  font-size: 5vw;
}

.login li {
  color: red;
  font-size: 1.5vw;
}

.temp_info {
  display: none;
}

.container.edit {
  text-align: center;
}

.container.edit li {
  text-align: center;
  list-style: none;
}

.stats {
  text-align: center;
}