@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
@import url('https://fonts.googleapis.com/css?family=Kanit:900');


* {
  /* border: 2px solid green;  */
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter { 
   display: flex;
   flex-direction: column;
    align-items: center;
}

h1 {
  color: rgb(23, 57, 159);
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
  margin: 0;
}

.header {
  color: red;
  font-weight: bold;
  font-size: 60px;
}

.a {
  color: rgb(23, 57, 159);
  font-size: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: rgb(5, 82, 162);
}

nav a {
  text-decoration: none;
  line-height: 10vh;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
}

nav a:hover {
  color: grey;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;  
  color: white;
  background-color: rgb(129, 136, 150);
}

.single_score {
  display: flex;
  flex-direction: column;
  /* background-image: url("../images/court.jpg"); */
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 6vh;
  align-items: center;
}

.thumb {
  height: 7vh;
  width: 8vh;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.team-name {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
}





