input#user_email, 
input#user_password, 
input#user_password_confirmation {
  border-radius: 4px;
  padding: 5px 39px;
  margin-top: 20px;
}

select#user_team_id {
  border-radius: 4px;
  padding: 5px 39px;
  margin-top: 20px;
  height: 25px;
  width: 200px;
  margin-bottom: 20px;
}