input#user_email, 
input#user_password, 
input#user_password_confirmation {
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

select#user_team_id {
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}