div#team-players_filter.dataTables_filter,
div#team-players_info.dataTables_info {
  visibility: hidden;
}

img.logo {
  margin-right: 5px;
}

.logo2 {
  height: 50px;
  margin-left: 3vw;
}

thead {
  background-color: rgb(214,64,86);
}

#name {
  border-radius: 1em;
  font-size: 1.8vw;
  width: 40vw;
  text-align: center;
}

#name:focus  {
 outline: none;  
}

#team-players {
  box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

#team-players .bg-primary {
  background-color: rgb(214,64,86)
}

.follow {
  display: flex;
  flex-direction: row;
}

.player {
  border: 1px black solid;
  border-radius: 2em;
  padding: 10px;
}

.X {
  margin-left: 12px;
}

.X img {
  height: 24px;
  padding-bottom: 5px;
}

.container.column {
  flex-direction: column;
}

.player-search form {
  margin-bottom: 20px;
  text-align: center;
}

.graph {
  margin-top: 20px;
  margin-bottom: 20px;
  /* display: none; */
}

.hidden {
  display: none;
}

h3 {
  margin-top: 20px;
  padding-left: 15px;
}

.NB {
  font-size: 22vh;
}